<div> 
  <h2> Outros cursos de programação</h2>
  <hr>
  
  <dl>
   <dt>Curso de Python</dt>
   <dd>Nome: Python </dd>
   <dd>carga-horaria: 80 horas </dd>
  </dl>
  
   <hr>

  <dl>
   <dt>Curso de React Native</dt>
   <dd>Nome: Sistemas nativos </dd>
   <dd>carga-horaria: 54 horas  </dd>
  </dl>

   <hr>

  <dl>
   <dt>Curso de JavaScript</dt>
   <dd>Nome: JavaScript </dd>
   <dd>carga-horaria: 50 horas </dd>
  </dl>
  
  <hr>
  
  <dl>
   <dt>Curso de MySql</dt>
   <dd>Nome:Banco de dados </dd>
   <dd>carga-horaria: 40 horas </dd>
  </dl>
  
  <hr>

  <dl>
   <dt>Curso de Engenharia de Software</dt>
   <dd>Nome: Engenharia de Software </dd>
   <dd>carga-horaria: 35 horas </dd>
  </dl>
  

</div>
