div {
    width: 400px;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    background-color: #EE3B3B;
    margin-top: 2rem;
}

h2 {
    color: #FFF;
    font-size: 22px;
}


h1 {
    font-size: 15px;
    color: #FFF
}

